@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fff785;
}
h1 {
  font-size: 56px;
}
a {
  text-decoration: none;
  font-size: 26px;
}
.header {
  align-items: center;
  padding: 20px 20px;
  background-color: #efb5fa;
  position: relative;
}
.header a {
  margin-left: 4rem;
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
.nav {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40%;
}

.navbar {
  list-style-type: none;
  text-decoration: none;
  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo {
  width: 120px;
}
.main {
  max-width: 100vw;
  background-color: #fff785;
}
.container-mains {
  width: 100%;
  border: 2px solid #000;
  margin: 3rem auto;
  padding: 12px;
}
.izquierda {
  float: left;
}
.img-main {
  max-width: 260px;
}
.container-mains {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.type1 {
  background-color: rgb(82, 74, 24);
}
.text-main {
  max-width: 400px;
}
.first-img {
  max-width: 460px;
}

.defaul,
tr,
th,
td {
  font-family: "Roboto", sans-serif;
  padding-left: 19px;
}
form input {
  width: 100%;
  resize: none;
}
.default {
  background-color: #fff;
  border: 1px solid #000;
  width: 75%;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #212121;
  padding: 26px;
  color: white;
}

.copy {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 20px;
}

.izquierda {
  margin-right: 15px;
}
